Repository OperationsPAI/AegisLab: changes, and which lefthook commands are due for each by the changed paths.
All: go-format, python-format

go-format:
  run: make run-command ARGS="git pre-commit-go"
  stage_fixed: true

python-format:
  run: make run-command ARGS="git pre-commit-python"
  stage_fixed: true

feat(injection): add Parquet file content query with DuckDB Arrow
  CHANGELOG.md
  src/handlers/v2/injections.go
  src/service/producer/injection.go
Due: go-format

feat(build): add DuckDB Arrow support and integrate frontend chart
  .gitignore
  CHANGELOG.md
  Makefile
  helm/Chart.lock
  helm/Chart.yaml
  helm/templates/deployment.yaml
  helm/values.yaml
  manifests/prod/rcabench.yaml
  manifests/staging/rcabench.yaml
  manifests/test/rcabench.yaml
  scripts/command/src/port_manager.py
  skaffold.yaml
  src/Dockerfile
  src/go.mod
Due: python-format

feat(deployment): add Loki/Prometheus monitoring and Alloy log collection
  CHANGELOG.md
  Makefile
  docker-compose.yaml
  manifests/dev/exp-dev-setup.yaml
  manifests/dev/grafana/provisioning/dashboards/dashboards.yaml
  manifests/dev/grafana/provisioning/dashboards/json/rcabench-log-explorer.json
  manifests/dev/grafana/provisioning/dashboards/json/rcabench-loki-monitoring.json
  manifests/dev/grafana/provisioning/datasources/datasources.yaml
  manifests/dev/loki-config.yaml
  manifests/dev/prometheus.yaml
  manifests/prod/rcabench.yaml
Due: none

feat(logging): add real-time task log streaming via WebSocket
  .gitattributes
  .github/actions/extract-tag-version/action.yml
  .github/skills/commit-generate/SKILL.md
  .github/workflows/publish-clients.yml
  .github/workflows/publish-python-sdk.yml
  .github/workflows/regression-test.yml
  .github/workflows/release-helm.yaml
  .vscode/settings.json
  CHANGELOG.md
  docs/log-streaming-plan.md
  docs/permission.md
  helm/templates/alloy-daemonset.yaml
  helm/templates/configmap.yaml
  helm/values.yaml
  manifests/dev/exp-dev-setup.yaml
  manifests/dev/grafana/provisioning/dashboards/json/rcabench-log-explorer.json
  scripts/command/pyproject.toml
  src/client/jaeger.go
  src/config.dev.toml
  src/consts/consts.go
  src/consts/validation.go
  src/docs/.DS_Store
  src/dto/injection.go
  src/dto/log.go
  src/dto/task.go
  src/dto/trace.go
  src/go.mod
  src/handlers/v2/injections.go
  src/handlers/v2/tasks.go
  src/handlers/v2/traces.go
  src/main.go
  src/middleware/middleware.go
  src/repository/injection.go
  src/repository/task.go
  src/repository/trace.go
  src/router/v2.go
  src/service/logreceiver/parser.go
  src/service/logreceiver/receiver.go
  src/service/producer/task.go
  src/service/producer/trace.go
Due: go-format

feat(groups): introduce group SSE stream API
  CHANGELOG.md
  Makefile
  manifests/dev/exp-dev-setup.yaml
  scripts/command/src/cli/backup.py
  scripts/command/src/swagger/init.py
  src/consts/consts.go
  src/dto/group.go
  src/dto/trace.go
  src/handlers/docs.go
  src/handlers/v2/groups.go
  src/handlers/v2/traces.go
  src/repository/trace.go
  src/router/v2.go
  src/service/consumer/distribute_tasks.go
  src/service/consumer/k8s_handler.go
  src/service/consumer/monitor.go
  src/service/consumer/restart_pedestal.go
  src/service/consumer/task.go
  src/service/consumer/trace.go
  src/service/producer/group.go
  src/service/producer/trace.go
Due: go-format, python-format

chore(.claude): remove ui-ux-pro-max skill and vscode configs
  .claude/skills/ui-ux-pro-max/SKILL.md
  .claude/skills/ui-ux-pro-max/data/charts.csv
  .claude/skills/ui-ux-pro-max/data/colors.csv
  .claude/skills/ui-ux-pro-max/data/icons.csv
  .claude/skills/ui-ux-pro-max/data/landing.csv
  .claude/skills/ui-ux-pro-max/data/products.csv
  .claude/skills/ui-ux-pro-max/data/prompts.csv
  .claude/skills/ui-ux-pro-max/data/react-performance.csv
  .claude/skills/ui-ux-pro-max/data/stacks/flutter.csv
  .claude/skills/ui-ux-pro-max/data/stacks/html-tailwind.csv
  .claude/skills/ui-ux-pro-max/data/stacks/nextjs.csv
  .claude/skills/ui-ux-pro-max/data/stacks/nuxt-ui.csv
  .claude/skills/ui-ux-pro-max/data/stacks/nuxtjs.csv
  .claude/skills/ui-ux-pro-max/data/stacks/react-native.csv
  .claude/skills/ui-ux-pro-max/data/stacks/react.csv
  .claude/skills/ui-ux-pro-max/data/stacks/shadcn.csv
  .claude/skills/ui-ux-pro-max/data/stacks/svelte.csv
  .claude/skills/ui-ux-pro-max/data/stacks/swiftui.csv
  .claude/skills/ui-ux-pro-max/data/stacks/vue.csv
  .claude/skills/ui-ux-pro-max/data/styles.csv
  .claude/skills/ui-ux-pro-max/data/typography.csv
  .claude/skills/ui-ux-pro-max/data/ui-reasoning.csv
  .claude/skills/ui-ux-pro-max/data/ux-guidelines.csv
  .claude/skills/ui-ux-pro-max/data/web-interface.csv
  .claude/skills/ui-ux-pro-max/scripts/core.py
  .claude/skills/ui-ux-pro-max/scripts/design_system.py
  .claude/skills/ui-ux-pro-max/scripts/search.py
  .vscode/launch.json
  .vscode/settings.json
  CHANGELOG.md
Due: python-format

chore(ci): replace Makefile with justfile and refactor release workflows
  .github/actions/setup-build-env/action.yml
  .github/workflows/publish-clients.yml
  .github/workflows/regression-test.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-helm.yaml
  .github/workflows/release-helm.yml
  .gitignore
  Makefile
  devbox.json
  justfile
  lefthook.yml
  scripts/regression-test.sh
  scripts/test-push.sh
  skaffold.yaml
Due: none

feat(helm): add Loki/Prometheus/Grafana observability stack
  helm/Chart.yaml
  helm/files/grafana/dashboards/rcabench-log-explorer.json
  helm/files/grafana/dashboards/rcabench-loki-monitoring.json
  helm/templates/alloy-daemonset.yaml
  helm/templates/configmap.yaml
  helm/templates/deployment.yaml
  helm/templates/observability.yaml
  helm/templates/pvc.yaml
  helm/templates/service.yaml
  helm/values.yaml
  lefthook.yml
  manifests/dev/exp-dev-setup.yaml
  manifests/prod/debug-busybox.yaml
  manifests/staging/rcabench.yaml
  scripts/command/src/cli/rcabench_.py
  scripts/command/src/rcabench_.py
  scripts/command/src/swagger/python.py
  scripts/command/uv.lock
  sdk/python/pyproject.toml
  sdk/python/src/rcabench/__init__.py
  src/config.dev.toml
  src/config/config.go
  src/handlers/system/health.go
  src/handlers/system/monitor.go
  src/handlers/v2/tasks.go
  src/service/consumer/k8s_handler.go
  src/service/producer/container.go
  src/service/producer/task.go
  src/utils/log.go
Due: go-format, python-format

feat(client): add Loki HTTP client and fix lint issues
  .golangci.yml
  src/client/helm.go
  src/client/k8s/job.go
  src/client/k8s/k8s_test.go
  src/client/loki.go
  src/consts/errors.go
  src/dto/auth.go
  src/dto/common.go
  src/dto/container.go
  src/dto/dataset.go
  src/dto/injection.go
  src/dto/search.go
  src/handlers/system/health.go
  src/handlers/v2/datasets.go
  src/handlers/v2/injections.go
  src/handlers/v2/tasks.go
  src/service/consumer/build_container.go
  src/service/consumer/trace.go
  src/service/logreceiver/receiver.go
  src/service/producer/dataset.go
  src/service/producer/dynamic_config.go
  src/service/producer/injection.go
  src/service/producer/metrics.go
  src/service/producer/task.go
  src/utils/file.go
  src/utils/string.go
Due: go-format

chore(ci): add openapi-generator templates and refine build infra
  .github/workflows/ci-build-test-deploy.yml
  .github/workflows/publish-clients.yml
  .github/workflows/regression-test.yml
  .github/workflows/release-docker.yml
  .gitignore
  .openapi-generator/typescript/client/config.json
  .openapi-generator/typescript/client/templates/package.mustache
  .openapi-generator/typescript/client/templates/tsconfig.mustache
  justfile
  skaffold.yaml
  src/Dockerfile
Due: none

fix(release): sync appVersion in helm/Chart.yaml on version update
  justfile
  scripts/command/src/rcabench_.py
Due: python-format

chore(release): version 1.0.0
  CHANGELOG.md
  helm/Chart.yaml
  helm/values.yaml
  src/config.dev.toml
  src/main.go
Due: go-format

chore(deploy): refine build, helm, and deployment configs
  .gitignore
  helm/templates/service.yaml
  helm/values.yaml
  justfile
  manifests/prod/rcabench.yaml
  skaffold.yaml
  src/Dockerfile
Due: none

deploy: 13a031283c0f443c03f6cff3c58efc5f50c9e984
  .nojekyll
  index.yaml
  rcabench-0.1.0.tgz
Due: none

docs: complete Task8 link audit and missing concept pages
  content/concepts/_index.md
  content/concepts/architecture/_index.md
  content/concepts/data-flow/_index.md
  content/concepts/fault-injection-lifecycle/_index.md
  content/concepts/observability-stack/_index.md
  docs/algorithm-development.md
  docs/api-reference.md
  docs/contributing.md
  docs/examples.md
  docs/installation.md
  docs/task8-internal-link-audit.md
  docs/troubleshooting.md
  docs/user-guide.md
  scripts/audit-internal-links-task8.sh
  scripts/check-data-flow-links.sh
  scripts/check-fault-injection-lifecycle-task8.sh
Due: none

chore: add project-index.yaml and auto-harness section to claude.md
  CLAUDE.md
  project-index.yaml
Due: none

feat(cli): add aegisctl command-line client for agent-driven workflows
  docs/aegisctl-cli-spec.md
  src/cmd/aegisctl/client/auth.go
  src/cmd/aegisctl/client/client.go
  src/cmd/aegisctl/client/resolver.go
  src/cmd/aegisctl/client/sse.go
  src/cmd/aegisctl/client/ws.go
  src/cmd/aegisctl/cmd/auth.go
  src/cmd/aegisctl/cmd/completion.go
  src/cmd/aegisctl/cmd/container.go
  src/cmd/aegisctl/cmd/context.go
  src/cmd/aegisctl/cmd/dataset.go
  src/cmd/aegisctl/cmd/eval.go
  src/cmd/aegisctl/cmd/execute.go
  src/cmd/aegisctl/cmd/inject.go
  src/cmd/aegisctl/cmd/project.go
  src/cmd/aegisctl/cmd/root.go
  src/cmd/aegisctl/cmd/status.go
  src/cmd/aegisctl/cmd/task.go
  src/cmd/aegisctl/cmd/trace.go
  src/cmd/aegisctl/cmd/wait.go
  src/cmd/aegisctl/config/config.go
  src/cmd/aegisctl/main.go
Due: go-format

fix(api): add missing routes, implement Loki log retrieval, deprecate hardcoded endpoints
  src/handlers/system/monitor.go
  src/router/v2.go
  src/service/consumer/task.go
  src/service/producer/injection.go
  src/service/producer/task.go
Due: go-format

fix(validation): relax overly strict validation for labels, permissions, and pagination
  src/consts/consts.go
  src/consts/validation.go
  src/dto/label.go
  src/dto/permission.go
  src/middleware/ratelimit.go
Due: go-format

chore: update dev config paths, expand project index, add frontend design docs
  config.dev.toml
  docs/frontend-redesign.md
  docs/frontend-ui-guidelines.md
  project-index.yaml
Due: none

chore: add workbuddy agent orchestration config
  .github/workbuddy/agents/dev-agent.md
  .github/workbuddy/agents/review-agent.md
  .github/workbuddy/config.yaml
  .github/workbuddy/workflows/default.md
Due: none

test: add Redis queue unit tests for issue #37
  src/go.mod
  src/repository/task.go
  src/repository/task_test.go
Due: go-format

test: harden Redis queue tests for issue #37
  src/repository/task.go
  src/repository/task_test.go
Due: go-format

test: cover remaining Redis queue paths for issue #37
  src/repository/task_test.go
Due: go-format

test: add Redis queue unit tests for issue #37
  src/repository/task.go
  src/service/queue/redis.go
  src/service/queue/redis_test.go
Due: go-format

fix(aegisctl): add missing output package for CLI compilation
  src/cmd/aegisctl/output/output.go
Due: go-format

test(aegisctl): add unit tests for output package
  src/cmd/aegisctl/output/output_test.go
Due: go-format

feat(aegisctl): add version info to container get output
  src/cmd/aegisctl/cmd/container.go
Due: go-format

test(aegisctl): add container get version info tests
  src/cmd/aegisctl/cmd/container_test.go
Due: go-format

feat(cli): add output package and health check to aegisctl status
  .gitignore
  src/cmd/aegisctl/cmd/status.go
Due: go-format

test(cli): add tests for aegisctl status health check and output package
  src/cmd/aegisctl/cmd/status_test.go
  src/cmd/aegisctl/output/output_test.go
Due: go-format

test(aegisctl): add output package unit tests
  CLAUDE.md
  justfile
  src/cmd/aegisctl/README.md
Due: none

chore(aegisctl): add output package, build target, and documentation
  src/cmd/aegisctl/output/output.go
Due: go-format

fix(aegisctl): align output_test.go with output.go API after rebase
  src/cmd/aegisctl/output/output_test.go
Due: go-format

fix(api): improve error messages for consistency, security, and correctness
  src/handlers/common.go
  src/handlers/common_test.go
  src/handlers/v2/datasets.go
  src/handlers/v2/executions.go
  src/handlers/v2/groups.go
  src/handlers/v2/injections.go
  src/handlers/v2/system.go
  src/handlers/v2/tasks.go
  src/handlers/v2/traces.go
  src/handlers/v2/users.go
Due: go-format

docs(cli): update aegisctl status command documentation to match implementation
  docs/aegisctl-cli-spec.md
Due: none

test: cover aegisctl wait timeout path for #47
  src/cmd/aegisctl/cmd/wait.go
  src/cmd/aegisctl/cmd/wait_test.go
Due: go-format

Path conditions:
  go-format: any of: *.go
  python-format: any of: *.py
