Repository OperationsPAI/AegisLab: changes, and which lefthook commands are due for each by the changed paths.
All: go-format, python-format

lefthook.yml:

# Lefthook Configuration for RCABench
# https://github.com/evilmartians/lefthook

# Pre-commit hook: Run formatting checks and linters
pre-commit:
  parallel: true
  commands:
    # Go formatting check
    go-format:
      glob: "*.go"
      run: make run-command ARGS="git pre-commit-go"
      stage_fixed: true

    # Python formatting check  
    python-format:
      glob: "*.py"
      run: make run-command ARGS="git pre-commit-python"
      stage_fixed: true

# Commit-msg hook: Lint commit message with git-cliff
commit-msg:
  commands:
    cliff-lint:
      run: |
        # Extract commit message
        COMMIT_MSG_FILE={1}
        COMMIT_MSG=$(cat "$COMMIT_MSG_FILE")
        
        # Check conventional commit format using git-cliff
        # git-cliff expects conventional commits format:
        # <type>[optional scope]: <description>
        # Examples: feat: add new feature, fix(api): resolve bug
        
        echo "$COMMIT_MSG" | grep -qE "^(feat|fix|docs|style|refactor|perf|test|build|ci|chore|revert)(\(.+\))?: .{1,}" || {
          echo "‚ùå Commit message does not follow Conventional Commits format!"
          echo ""
          echo "Expected format: <type>[optional scope]: <description>"
          echo ""
          echo "Types: feat, fix, docs, style, refactor, perf, test, build, ci, chore, revert"
          echo ""
          echo "Examples:"
          echo "  feat: add new authentication system"
          echo "  fix(api): resolve null pointer exception"
          echo "  docs: update installation guide"
          exit 1
        }

# Pre-push hook: Run tests before push (optional)
# pre-push:
#   commands:
#     tests:
#       run: make test

feat(config): dynamic configuration system with namespace lifecycle
  CHANGELOG.md
  scripts/clean-data.sh
  sdk/python/pyproject.toml
  src/client/k8s/client.go
  src/client/k8s/controller.go
  src/consts/collection.go
  src/consts/consts.go
  src/dto/dynamic_config.go
  src/dto/system.go
  src/handlers/system/configs.go
  src/main.go
  src/middleware/permission.go
  src/repository/dynamic_config.go
  src/router/system.go
  src/service/consumer/k8s_handler.go
  src/service/consumer/monitor.go
  src/service/consumer/task.go
  src/service/initialization.go
  src/service/prodcuer/dynamic_config.go
  src/utils/map.go
Due: go-format

deploy: d36323b3dec97554a6373b877658779b5e717568
  .nojekyll
  index.yaml
  rcabench-0.1.0.tgz
Due: none

refactor(monitor): decouple namespace lock query from consumer
  src/consts/consts.go
  src/dto/system.go
  src/handlers/system/monitor.go
  src/router/system.go
  src/service/consumer/monitor.go
  src/service/prodcuer/system.go
  src/service/prodcuer/task.go
Due: go-format

feat(pedestal): add OpenTelemetry Demo support
  .env.example
  CHANGELOG.md
  Makefile
  data/initial_data/data.json
  data/initial_data/otel-demo.yaml
  helm/files/initial_data/data.json
  helm/files/initial_data/otel-demo.yaml
  helm/templates/configmap.yaml
  manifests/README.md
  manifests/local-dev/start.sh
  manifests/prod/rcabench.yaml
  manifests/test/rcabench.yaml
  scripts/forward.sh
  src/client/k8s/controller.go
  src/consts/consts.go
  src/database/entity.go
  src/database/view.go
  src/dto/injection.go
  src/handlers/v2/groups.go
  src/repository/container.go
  src/repository/injection.go
  src/service/consumer/collect_result.go
  src/service/consumer/fault_injection.go
  src/service/consumer/monitor.go
  src/service/consumer/restart_pedestal.go
  src/service/consumer/trace.go
  src/service/initialization.go
Due: go-format

chore(release): bump version to 1.1.53
  CHANGELOG.md
  scripts/command/src/swagger.py
  sdk/python/pyproject.toml
Due: python-format

deploy: f7a176fbb2d19cd2d322ed786d9f94e3b2be537f
  .nojekyll
  index.yaml
  rcabench-0.1.0.tgz
Due: none

feat(core): enhance trace processing and optimize infrastructure
  data/initial_data/data.json
  data/initial_data/otel-demo.yaml
  helm/files/initial_data/data.json
  helm/files/initial_data/otel-demo.yaml
  helm/templates/deployment.yaml
  helm/templates/statefulset.yaml
  src/client/k8s/controller.go
  src/client/redis_client.go
  src/database/entity.go
  src/dto/container.go
  src/dto/task.go
  src/dto/trace.go
  src/handlers/docs.go
  src/handlers/v2/containers.go
  src/handlers/v2/traces.go
  src/service/analyzer/trace_analyzer.go
  src/service/consumer/fault_injection.go
  src/service/consumer/k8s_handler.go
  src/service/consumer/trace.go
  src/service/prodcuer/trace.go
  src/utils/string.go
Due: go-format

chore(sdk): release Python SDK v1.1.54
  .openapi-generator/python/templates/api.mustache
  .openapi-generator/python/templates/rest.mustache
  Makefile
  scripts/command/pyproject.toml
  scripts/command/settings.toml
  scripts/command/src/cli/main.py
  scripts/command/src/cli/port_manager.py
  scripts/command/src/common/common.py
  scripts/command/src/common/helm_cli.py
  scripts/command/src/common/kubernetes_manager.py
  scripts/command/src/formatter/common.py
  scripts/command/src/port_manager.py
  scripts/command/src/swagger.py
  scripts/command/uv.lock
  sdk/python/pyproject.toml
  sdk/python/src/rcabench/__init__.py
  sdk/python/uv.lock
Due: python-format

feat(trace): add group statistics API and version automation
  CHANGELOG.md
  helm/templates/configmap.yaml
  src/consts/consts.go
  src/dto/analyzer.go
  src/dto/trace.go
  src/handlers/v2/traces.go
  src/repository/trace.go
  src/router/v2.go
  src/service/analyzer/trace_analyzer.go
  src/service/prodcuer/trace.go
Due: go-format

chore(release): bump version to 1.1.55
  CHANGELOG.md
  helm/values.yaml
  scripts/command/pyproject.toml
  scripts/command/src/swagger.py
  scripts/command/uv.lock
  sdk/python/pyproject.toml
  sdk/python/src/rcabench/__init__.py
  src/config.dev.toml
Due: python-format

deploy: 3bb2a55a7905c54fe444e600468e00fe7af91d6a
  .nojekyll
  index.yaml
  rcabench-0.1.0.tgz
Due: none

test: migrate from Docker Compose to Kubernetes-based testing
  .vscode/settings.json
  CHANGELOG.md
  Makefile
  lefthook.yml
  manifests/local-dev/start.sh
  manifests/test/click-stack.yaml
  manifests/test/kind-config.yaml
  manifests/test/otel-kube-stack.yaml
  manifests/test/rcabench.yaml
  manifests/test/start.sh
  scripts/command/src/git/hook.py
  scripts/command/test/conftest.py
  scripts/command/test/sse_connection.py
  scripts/command/test/test_algorithm_execution.py
  scripts/command/test/test_containers_api.py
  scripts/command/test/test_datasets_api.py
  scripts/command/test/test_projects_api.py
  scripts/command/test/test_workflow.json
  scripts/command/test/test_workflow.py
Due: python-format

rename code
  CLAUDE.md
  src/handlers/system/audit.go
  src/handlers/system/configs.go
  src/handlers/system/monitor.go
  src/handlers/v2/auth.go
  src/handlers/v2/containers.go
  src/handlers/v2/datasets.go
  src/handlers/v2/executions.go
  src/handlers/v2/injections.go
  src/handlers/v2/labels.go
  src/handlers/v2/permissions.go
  src/handlers/v2/projects.go
  src/handlers/v2/resources.go
  src/handlers/v2/roles.go
  src/handlers/v2/tasks.go
  src/handlers/v2/traces.go
  src/handlers/v2/users.go
  src/middleware/audit.go
  src/service/initialization.go
  src/service/producer/audit.go
  src/service/producer/auth.go
  src/service/producer/common.go
  src/service/producer/container.go
  src/service/producer/dataset.go
  src/service/producer/dynamic_config.go
  src/service/producer/execution.go
  src/service/producer/injection.go
  src/service/producer/label.go
  src/service/producer/permission.go
  src/service/producer/project.go
  src/service/producer/relation.go
  src/service/producer/resource.go
  src/service/producer/role.go
  src/service/producer/system.go
  src/service/producer/task.go
  src/service/producer/trace.go
  src/service/producer/user.go
Due: go-format

fix: py dependency
  CHANGELOG.md
  helm/values.yaml
  scripts/command/pyproject.toml
  scripts/command/src/rcabench_.py
  scripts/command/uv.lock
Due: python-format

fix: security issue
  src/repository/user.go
  src/service/producer/audit.go
  src/service/producer/auth.go
  src/service/producer/injection.go
  src/service/producer/resource.go
  src/service/producer/user.go
Due: go-format

init fe
  docs/frontend-design.md
  frontend/.eslintrc.cjs
  frontend/.gitignore
  frontend/DEVELOPMENT.md
  frontend/PROJECT_SUMMARY.md
  frontend/QUICKSTART.md
  frontend/README.md
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/api/auth.ts
  frontend/src/api/client.ts
  frontend/src/api/containers.ts
  frontend/src/api/evaluations.ts
  frontend/src/api/executions.ts
  frontend/src/api/injections.ts
  frontend/src/api/projects.ts
  frontend/src/api/tasks.ts
  frontend/src/components/layout/MainLayout.tsx
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/src/pages/auth/Login.tsx
  frontend/src/pages/dashboard/Dashboard.tsx
  frontend/src/pages/executions/ExecutionList.tsx
  frontend/src/pages/injections/InjectionCreate.tsx
  frontend/src/pages/injections/InjectionList.tsx
  frontend/src/pages/projects/ProjectList.tsx
  frontend/src/store/auth.ts
  frontend/src/types/api.ts
  frontend/src/utils/theme.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
Due: none

update
  frontend/1
  frontend/CODE_QUALITY_FIX_SUMMARY.md
  frontend/CODE_QUALITY_REPORT.md
  frontend/CODE_STANDARDS_COMPLIANCE_REPORT.md
  frontend/IMPLEMENTATION_REPORT.md
  frontend/package-lock.json
  frontend/src/api/evaluations.ts
  frontend/src/api/injections.ts
  frontend/src/components/dashboard/ActivityFeed.tsx
  frontend/src/pages/datasets/DatasetList.tsx
  frontend/src/pages/evaluations/EvaluationForm.tsx
  frontend/src/pages/executions/ExecutionForm.tsx
  frontend/src/pages/executions/ExecutionList.tsx
  frontend/src/pages/injections/InjectionCreate.tsx
  frontend/src/pages/injections/components/AlgorithmSelector.tsx
  frontend/src/pages/injections/components/FaultConfigPanel.tsx
  frontend/src/pages/injections/components/FaultNode.tsx
  frontend/src/pages/injections/components/FaultTypePanel.tsx
  frontend/src/pages/injections/components/TagManager.tsx
  frontend/src/pages/injections/components/VisualCanvas.tsx
  frontend/src/pages/projects/ProjectList.tsx
  frontend/src/pages/settings/Settings.tsx
  frontend/src/pages/settings/UserProfile.tsx
  frontend/src/pages/system/SystemSettings.tsx
  frontend/src/pages/tasks/TaskDetail.tsx
  frontend/src/pages/tasks/TaskList.tsx
  frontend/src/store/auth.ts
  frontend/src/types/api.ts
Due: none

fix all the lint error
  frontend/1
  frontend/src/App.tsx
  frontend/src/api/auth.ts
  frontend/src/api/client.ts
  frontend/src/api/config.ts
  frontend/src/api/containers.ts
  frontend/src/api/datasets.ts
  frontend/src/api/executions.ts
  frontend/src/api/injections.ts
  frontend/src/api/projects.ts
  frontend/src/api/tasks.ts
  frontend/src/components/layout/MainLayout.css
  frontend/src/components/ui/StatCard.css
  frontend/src/index.css
  frontend/src/pages/dashboard/Dashboard.css
  frontend/src/pages/dashboard/Dashboard.tsx
  frontend/src/pages/datasets/DatasetDetail.tsx
  frontend/src/pages/datasets/DatasetForm.tsx
  frontend/src/pages/datasets/DatasetList.tsx
  frontend/src/pages/evaluations/EvaluationForm.tsx
  frontend/src/pages/evaluations/EvaluationList.tsx
  frontend/src/pages/executions/ExecutionDetail.tsx
  frontend/src/pages/executions/ExecutionForm.tsx
  frontend/src/pages/executions/ExecutionList.tsx
  frontend/src/pages/injections/InjectionCreate.css
  frontend/src/pages/injections/InjectionCreate.tsx
  frontend/src/pages/injections/InjectionList.tsx
  frontend/src/pages/injections/components/AlgorithmSelector.tsx
  frontend/src/pages/projects/ProjectList.tsx
  frontend/src/pages/tasks/TaskDetail.tsx
  frontend/src/pages/tasks/TaskList.tsx
  frontend/src/store/auth.ts
  frontend/src/styles/shared/card.css
  frontend/src/styles/shared/form.css
  frontend/src/styles/theme.css
  frontend/src/styles/utility.css
  frontend/src/types/api.ts
Due: none

update front end
  .gitignore
  frontend/src/pages/containers/ContainerDetail.tsx
  frontend/src/pages/containers/ContainerForm.tsx
  frontend/src/pages/containers/ContainerList.tsx
  frontend/src/pages/containers/ContainerVersions.tsx
Due: none

update front end
  src/dto/injection.go
Due: go-format

claude reorg
  frontend/.vite/deps/_metadata.json
  frontend/.vite/deps/package.json
  frontend/package-lock.json
  frontend/src/pages/injections/InjectionCreate.tsx
  frontend/vite.config.ts
  sdk/typescript/api.ts
  sdk/typescript/docs/InjectionsApi.md
  src/docs/docs.go
  src/docs/swagger.json
  src/docs/swagger.yaml
  src/dto/task.go
  src/go.mod
  src/go.sum
  src/handlers/v2/injections.go
  src/repository/injection.go
Due: go-format

feat: add design skill
  .claude/skills/ui-ux-pro-max/SKILL.md
  .claude/skills/ui-ux-pro-max/data/charts.csv
  .claude/skills/ui-ux-pro-max/data/colors.csv
  .claude/skills/ui-ux-pro-max/data/icons.csv
  .claude/skills/ui-ux-pro-max/data/landing.csv
  .claude/skills/ui-ux-pro-max/data/products.csv
  .claude/skills/ui-ux-pro-max/data/prompts.csv
  .claude/skills/ui-ux-pro-max/data/react-performance.csv
  .claude/skills/ui-ux-pro-max/data/stacks/flutter.csv
  .claude/skills/ui-ux-pro-max/data/stacks/html-tailwind.csv
  .claude/skills/ui-ux-pro-max/data/stacks/nextjs.csv
  .claude/skills/ui-ux-pro-max/data/stacks/nuxt-ui.csv
  .claude/skills/ui-ux-pro-max/data/stacks/nuxtjs.csv
  .claude/skills/ui-ux-pro-max/data/stacks/react-native.csv
  .claude/skills/ui-ux-pro-max/data/stacks/react.csv
  .claude/skills/ui-ux-pro-max/data/stacks/shadcn.csv
  .claude/skills/ui-ux-pro-max/data/stacks/svelte.csv
  .claude/skills/ui-ux-pro-max/data/stacks/swiftui.csv
  .claude/skills/ui-ux-pro-max/data/stacks/vue.csv
  .claude/skills/ui-ux-pro-max/data/styles.csv
  .claude/skills/ui-ux-pro-max/data/typography.csv
  .claude/skills/ui-ux-pro-max/data/ui-reasoning.csv
  .claude/skills/ui-ux-pro-max/data/ux-guidelines.csv
  .claude/skills/ui-ux-pro-max/data/web-interface.csv
  .claude/skills/ui-ux-pro-max/scripts/core.py
  .claude/skills/ui-ux-pro-max/scripts/design_system.py
  .claude/skills/ui-ux-pro-max/scripts/search.py
Due: python-format

feat: add design skill
  CHANGELOG.md
Due: none

feat(helm): add chart version and local path fallback for pedestal deployment
  CHANGELOG.md
  data/initial_data/prod/data.json
  data/initial_data/staging/data.json
  helm/templates/_helpers.tpl
  helm/templates/configmap.yaml
  helm/templates/init-job.yaml
  helm/values.yaml
  lefthook.yml
  manifests/prod/rcabench.yaml
  manifests/staging/rcabench.yaml
  manifests/test/rcabench.yaml
  manifests/test/start.sh
  scripts/command/src/common/common.py
  scripts/command/src/rcabench_.py
  src/client/helm.go
  src/client/helm_test.go
  src/database/entity.go
  src/dto/container.go
  src/handlers/v2/containers.go
  src/router/v2.go
  src/service/consumer/restart_pedestal.go
  src/service/initialization/types.go
  src/service/producer/container.go
  src/utils/file.go
Due: go-format, python-format

feat(deployment): add staging context and refine service/config management
  .env.example
  CHANGELOG.md
  data/initial_data/prod/data.json
  data/initial_data/prod/ts.yaml
  data/initial_data/staging/ts.yaml
  helm/templates/service.yaml
  manifests/cn_mirror/click-stack.yaml
  manifests/test/start.sh
  scripts/start.sh
  sdk/python/pyproject.toml
  src/client/redis_client.go
  src/consts/consts.go
  src/dto/task.go
  src/handlers/v2/datasets.go
  src/handlers/v2/injections.go
  src/router/v2.go
  src/service/common/trace.go
  src/service/consumer/config_registry.go
  src/service/consumer/fault_injection.go
  src/service/consumer/k8s_handler.go
  src/service/consumer/rate_limiter.go
  src/service/consumer/restart_pedestal.go
  src/service/consumer/trace.go
  src/service/producer/dataset.go
  src/service/producer/injection.go
Due: go-format

feat(initialization): add user management with project role bindings
  CHANGELOG.md
  data/initial_data/prod/data.json
  data/initial_data/staging/data.json
  data/initial_data/staging/ts.yaml
  scripts/command/src/swagger/init.py
  src/service/initialization/producer.go
  src/service/initialization/types.go
Due: go-format, python-format

refactor(deployment): convert initial data format from JSON to YAML
  CHANGELOG.md
  Makefile
  data/initial_data/prod/data.json
  data/initial_data/prod/data.yaml
  data/initial_data/staging/data.json
  data/initial_data/staging/data.yaml
  helm/templates/_helpers.tpl
  helm/templates/configmap.yaml
  helm/templates/deployment.yaml
  helm/values.yaml
  manifests/prod/debug-busybox.yaml
  scripts/command/src/backup/redis_.py
  scripts/command/src/cli/etcd.py
  scripts/command/src/common/common.py
  scripts/command/src/etcd.py
  skaffold.yaml
  src/Dockerfile
Due: python-format

feat(team): add team management with project role bindings
  CHANGELOG.md
  docs/permission.md
  src/consts/export.go
  src/consts/system.go
  src/database/entity.go
  src/dto/team.go
  src/handlers/v2/teams.go
  src/repository/team.go
  src/router/v2.go
  src/service/producer/team.go
Due: go-format

refactor(auth): implement role-based access control with JWT claims
  CHANGELOG.md
  src/consts/collection.go
  src/consts/consts.go
  src/consts/validation.go
  src/middleware/auth.go
  src/middleware/permission.go
  src/repository/permission.go
  src/repository/user.go
  src/service/producer/auth.go
  src/service/producer/permission.go
  src/utils/jwt.go
Due: go-format

feat(injection): add datapack file browsing and single file download
  CHANGELOG.md
  Makefile
  data/initial_data/prod/data.yaml
  data/initial_data/staging/data.yaml
  helm/templates/deployment.yaml
  scripts/start.sh
  src/Dockerfile
  src/client/k8s/controller.go
  src/config/chaos_system.go
  src/consts/consts.go
  src/database/entity.go
  src/database/entity_helper.go
  src/database/view.go
  src/dto/evaluation.go
  src/dto/injection.go
  src/go.mod
  src/go.sum
  src/handlers/v2/injections.go
  src/handlers/v2/projects.go
  src/main.go
  src/router/v2.go
  src/service/analyzer/evaluation.go
  src/service/consumer/fault_injection.go
  src/service/consumer/jvm_runtime_mutator.go
  src/service/consumer/restart_pedestal.go
  src/service/initialization/producer.go
  src/service/producer/injection.go
Due: go-format

feat(injection): add Parquet file content query with DuckDB Arrow
  .golangci.yml
  .vscode/launch.json
  .vscode/settings.json
  CHANGELOG.md
  Makefile
  scripts/command/src/formatter/go.py
  src/cmd/task_submitter/main.go
  src/go.mod
  src/go.sum
  src/handlers/v2/injections.go
  src/router/v2.go
  src/service/producer/injection.go
Due: go-format, python-format
